EZCLOUD_API_BASE_URL=
EZCLOUD_API_KEY=
EZCLOUD_HOTEL_ID_CENTRAL=
EZCLOUD_HOTEL_ID_EMBER=
EZCLOUD_HOTEL_ID_LITTLEBAY=


NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ZALO_LINK_CENTRAL=
NEXT_PUBLIC_ZALO_LINK_EMBER=
NEXT_PUBLIC_ZALO_LINK_LITTLEBAY=

SITE_INDEXABLE=

NEXT_PUBLIC_CHATBOT_API_URL=
